{% extends "base_dashboard.html" %} {% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card p-5 border-0 shadow-sm text-center">
      <h1 class="display-6 fw-bold">Bem-vindo ao Painel de Controle</h1>
      <p class="text-muted">
        Gerencie o acervo de livros e os empréstimos da comunidade de forma
        integrada.
      </p>
      <div class="row mt-4">
        <div class="col-md-6">
          <div class="p-3 bg-light rounded">
            <h5>Módulo Livros</h5>
            <p class="small">
              Responsável: <strong>Vitor Gabriel Vido</strong>
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="p-3 bg-light rounded">
            <h5>Módulo Empréstimos</h5>
            <p class="small">Responsável: <strong>Rhian Esteves</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
